In [2]:
import duckdb

# Connect to a persistent database file
# If the file doesn't exist, DuckDB creates it automatically.
con = duckdb.connect('ev_data.duckdb')

print("Database connected successfully!")

Database connected successfully!

In [2]:
# Create a table directly from a CSV file
# This might take a few seconds for 24M rows, but it's a one-time cost.
con.sql("""
    CREATE OR REPLACE TABLE raw_ev_data AS 
    SELECT * FROM read_parquet('ev_data_cleaned_final.parquet');
""")

# If you have Parquet, it's even faster:
# con.sql("CREATE OR REPLACE TABLE raw_ev_data AS SELECT * FROM read_parquet('file.parquet');")

In [3]:
# Show column names and types
con.sql("DESCRIBE raw_ev_data").show()

┌───────────────────────┬──────────────┬─────────┬─────────┬─────────┬─────────┐
│      column_name      │ column_type  │  null   │   key   │ default │  extra  │
│        varchar        │   varchar    │ varchar │ varchar │ varchar │ varchar │
├───────────────────────┼──────────────┼─────────┼─────────┼─────────┼─────────┤
│ registrationYear      │ SMALLINT     │ YES     │ NULL    │ NULL    │ NULL    │
│ financialYear         │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ registrationMonthMMYY │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ makerName             │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ stateName             │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ rtoCode               │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ vehicleCategoryName   │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ vehicleModelName      │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ fuelName              │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ vehicleClassName      │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ grossVehicleWeight    │ INTEGER      │ YES     │ NULL    │ NULL    │ NULL    │
│ pollutionNorm         │ VARCHAR      │ YES     │ NULL    │ NULL    │ NULL    │
│ vehicleCount          │ SMALLINT     │ YES     │ NULL    │ NULL    │ NULL    │
│ registrationMonth     │ TIMESTAMP_NS │ YES     │ NULL    │ NULL    │ NULL    │
├───────────────────────┴──────────────┴─────────┴─────────┴─────────┴─────────┤
│ 14 rows                                                            6 columns │
└──────────────────────────────────────────────────────────────────────────────┘

In [4]:
# View the first 5 rows
con.sql("SELECT * FROM raw_ev_data LIMIT 5").show()

┌──────────────────┬───────────────┬───────────────────────┬─────────────────────────────────┬────────────────┬─────────┬─────────────────────┬────────────────────────────────┬────────────────┬──────────────────────┬────────────────────┬─────────────────┬──────────────┬─────────────────────┐
│ registrationYear │ financialYear │ registrationMonthMMYY │            makerName            │   stateName    │ rtoCode │ vehicleCategoryName │        vehicleModelName        │    fuelName    │   vehicleClassName   │ grossVehicleWeight │  pollutionNorm  │ vehicleCount │  registrationMonth  │
│      int16       │    varchar    │        varchar        │             varchar             │    varchar     │ varchar │       varchar       │            varchar             │    varchar     │       varchar        │       int32        │     varchar     │    int16     │    timestamp_ns     │
├──────────────────┼───────────────┼───────────────────────┼─────────────────────────────────┼────────────────┼─────────┼─────────────────────┼────────────────────────────────┼────────────────┼──────────────────────┼────────────────────┼─────────────────┼──────────────┼─────────────────────┤
│             2024 │ 2024-2025     │ 11-24                 │ OTHERS                          │ Andhra Pradesh │ AP21    │ LIGHT MOTOR VEHICLE │ 5 TONS 2 WHEELED TIPPING TRAIL │ NOT APPLICABLE │ Trailer (Commercial) │                  0 │ Not Available   │           10 │ 2024-11-01 00:00:00 │
│             2024 │ 2024-2025     │ 07-24                 │ SUZUKI MOTORCYCLE INDIA PVT LTD │ Andhra Pradesh │ AP07    │ TWO WHEELER(NT)     │ ACCESS125 DISC SE              │ PETROL         │ M-Cycle/Scooter      │                253 │ BHARAT STAGE VI │          112 │ 2024-07-01 00:00:00 │
│             2024 │ 2024-2025     │ 04-24                 │ TVS MOTOR COMPANY LTD           │ Andhra Pradesh │ AP10    │ TWO WHEELER(NT)     │ TVS RAIDER                     │ PETROL         │ M-Cycle/Scooter      │                253 │ BHARAT STAGE VI │           14 │ 2024-04-01 00:00:00 │
│             2020 │ 2020-2021     │ 11-20                 │ TVS MOTOR COMPANY LTD           │ Andhra Pradesh │ AP40    │ TWO WHEELER(NT)     │ XL100 HEAVY DUTY I-TOUCH START │ PETROL         │ M-Cycle/Scooter      │                  0 │ BHARAT STAGE VI │           49 │ 2020-11-01 00:00:00 │
│             2020 │ 2020-2021     │ 12-20                 │ HERO MOTOCORP LTD               │ Andhra Pradesh │ AP20    │ TWO WHEELER(NT)     │ GLAMOUR-DRUM-SELF-CAST         │ PETROL         │ M-Cycle/Scooter      │                  0 │ BHARAT STAGE VI │           29 │ 2020-12-01 00:00:00 │
└──────────────────┴───────────────┴───────────────────────┴─────────────────────────────────┴────────────────┴─────────┴─────────────────────┴────────────────────────────────┴────────────────┴──────────────────────┴────────────────────┴─────────────────┴──────────────┴─────────────────────┘

In [ ]:
# Count total rows
total_rows = con.sql("SELECT COUNT(*) FROM raw_ev_data").fetchall()[0][0]
print(f"Total Rows: {total_rows:,}")


# Count registrations per year to check distribution
con.sql("""
    SELECT 
        registrationYear, 
        COUNT(*) as Total_EVs
    FROM raw_ev_data
    GROUP BY 1
    ORDER BY 1 DESC
    LIMIT 10
""").show()

Total Rows: 23,973,955
┌──────────────────┬───────────┐
│ registrationYear │ Total_EVs │
│      int16       │   int64   │
├──────────────────┼───────────┤
│             2026 │    119964 │
│             2025 │   4824506 │
│             2024 │   4467461 │
│             2023 │   4501648 │
│             2022 │   4251104 │
│             2021 │   3694536 │
│             2020 │   2114736 │
└──────────────────┴───────────┘

In [17]:
con.sql("""
CREATE OR REPLACE TABLE final_data AS
SELECT
    /* =========================
       Core time dimensions
       ========================= */
    CAST(registrationMonth AS DATE)              AS registration_date,
    CAST(registrationYear AS INTEGER)            AS registration_year,
    TRIM(registrationMonthMMYY)                  AS registration_month_mmyy,
    TRIM(financialYear)                          AS financial_year,

    /* =========================
       Entity standardization
       ========================= */
    TRIM(UPPER(makerName))                       AS maker_name,
    TRIM(UPPER(stateName))                       AS state_name,
    TRIM(UPPER(rtoCode))                         AS rto_code,

    /* =========================
       Vehicle attributes
       ========================= */
    TRIM(UPPER(vehicleCategoryName))             AS vehicle_category,
    TRIM(UPPER(vehicleModelName))                AS vehicle_model,
    TRIM(UPPER(vehicleClassName))                AS vehicle_class,
    TRIM(UPPER(fuelName))                        AS fuel_type,
    TRIM(UPPER(pollutionNorm))                   AS pollution_norm,

    /* =========================
       Quantitative fields
       ========================= */
    CAST(grossVehicleWeight AS INTEGER)          AS gross_vehicle_weight,
    CAST(vehicleCount AS INTEGER)                AS quantity

    /* ❌ REMOVED: All raw column references that were duplicates */

FROM raw_ev_data
WHERE
    registrationYear IS NOT NULL
    AND registrationMonth IS NOT NULL;
""")

print("✅ Clean table created successfully!")

✅ Clean table created successfully!

In [18]:
# Check schema and first 5 rows
con.sql("DESCRIBE final_data").show()
con.sql("SELECT * FROM final_data LIMIT 5").show()

┌─────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│       column_name       │ column_type │  null   │   key   │ default │  extra  │
│         varchar         │   varchar   │ varchar │ varchar │ varchar │ varchar │
├─────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ registration_date       │ DATE        │ YES     │ NULL    │ NULL    │ NULL    │
│ registration_year       │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ registration_month_mmyy │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ financial_year          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ maker_name              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ state_name              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ rto_code                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ vehicle_category        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ vehicle_model           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ vehicle_class           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ fuel_type               │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ pollution_norm          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ gross_vehicle_weight    │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ quantity                │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
├─────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 14 rows                                                             6 columns │
└───────────────────────────────────────────────────────────────────────────────┘

┌───────────────────┬───────────────────┬─────────────────────────┬────────────────┬─────────────────────────────────┬────────────────┬──────────┬─────────────────────┬────────────────────────────────┬──────────────────────┬────────────────┬─────────────────┬──────────────────────┬──────────┐
│ registration_date │ registration_year │ registration_month_mmyy │ financial_year │           maker_name            │   state_name   │ rto_code │  vehicle_category   │         vehicle_model          │    vehicle_class     │   fuel_type    │ pollution_norm  │ gross_vehicle_weight │ quantity │
│       date        │       int32       │         varchar         │    varchar     │             varchar             │    varchar     │ varchar  │       varchar       │            varchar             │       varchar        │    varchar     │     varchar     │        int32         │  int32   │
├───────────────────┼───────────────────┼─────────────────────────┼────────────────┼─────────────────────────────────┼────────────────┼──────────┼─────────────────────┼────────────────────────────────┼──────────────────────┼────────────────┼─────────────────┼──────────────────────┼──────────┤
│ 2024-11-01        │              2024 │ 11-24                   │ 2024-2025      │ OTHERS                          │ ANDHRA PRADESH │ AP21     │ LIGHT MOTOR VEHICLE │ 5 TONS 2 WHEELED TIPPING TRAIL │ TRAILER (COMMERCIAL) │ NOT APPLICABLE │ NOT AVAILABLE   │                    0 │       10 │
│ 2024-07-01        │              2024 │ 07-24                   │ 2024-2025      │ SUZUKI MOTORCYCLE INDIA PVT LTD │ ANDHRA PRADESH │ AP07     │ TWO WHEELER(NT)     │ ACCESS125 DISC SE              │ M-CYCLE/SCOOTER      │ PETROL         │ BHARAT STAGE VI │                  253 │      112 │
│ 2024-04-01        │              2024 │ 04-24                   │ 2024-2025      │ TVS MOTOR COMPANY LTD           │ ANDHRA PRADESH │ AP10     │ TWO WHEELER(NT)     │ TVS RAIDER                     │ M-CYCLE/SCOOTER      │ PETROL         │ BHARAT STAGE VI │                  253 │       14 │
│ 2020-11-01        │              2020 │ 11-20                   │ 2020-2021      │ TVS MOTOR COMPANY LTD           │ ANDHRA PRADESH │ AP40     │ TWO WHEELER(NT)     │ XL100 HEAVY DUTY I-TOUCH START │ M-CYCLE/SCOOTER      │ PETROL         │ BHARAT STAGE VI │                    0 │       49 │
│ 2020-12-01        │              2020 │ 12-20                   │ 2020-2021      │ HERO MOTOCORP LTD               │ ANDHRA PRADESH │ AP20     │ TWO WHEELER(NT)     │ GLAMOUR-DRUM-SELF-CAST         │ M-CYCLE/SCOOTER      │ PETROL         │ BHARAT STAGE VI │                    0 │       29 │
└───────────────────┴───────────────────┴─────────────────────────┴────────────────┴─────────────────────────────────┴────────────────┴──────────┴─────────────────────┴────────────────────────────────┴──────────────────────┴────────────────┴─────────────────┴──────────────────────┴──────────┘

Analysis

In [25]:
con.sql("""
SELECT column_name
FROM information_schema.columns
WHERE table_name = 'final_data'
ORDER BY ordinal_position;
""").show()

┌─────────────────────────┐
│       column_name       │
│         varchar         │
├─────────────────────────┤
│ registration_date       │
│ registration_year       │
│ registration_month_mmyy │
│ financial_year          │
│ maker_name              │
│ state_name              │
│ rto_code                │
│ vehicle_category        │
│ vehicle_model           │
│ vehicle_class           │
│ fuel_type               │
│ pollution_norm          │
│ gross_vehicle_weight    │
│ quantity                │
│ fuel_group              │
├─────────────────────────┤
│         15 rows         │
└─────────────────────────┘

In [ ]:

con.sql("""
ALTER TABLE final_data
ADD COLUMN fuel_group VARCHAR;
""")
con.sql("""   
UPDATE final_data
SET fuel_group =
    CASE
        -- EV
        WHEN fuel_type IN ('PURE EV', 'ELECTRIC(BOV)')
            THEN 'EV'

        -- Hybrid
        WHEN fuel_type IN (
            'STRONG HYBRID EV',
            'PLUG-IN HYBRID EV',
            'PETROL/HYBRID',
            'PETROL(E20)/HYBRID/CNG'
        )
            THEN 'HYBRID'

        -- Petrol
        WHEN fuel_type IN (
            'PETROL',
            'PETROL(E20)',
            'PETROL(E20)/LPG',
            'PETROL/METHANOL'
        )
            THEN 'PETROL'

        -- Diesel
        WHEN fuel_type IN (
            'DIESEL',
            'DUAL DIESEL/CNG',
            'DUAL DIESEL/LNG'
        )
            THEN 'DIESEL'

        -- CNG
        WHEN fuel_type IN (
            'CNG ONLY',
            'PETROL/CNG',
            'HCNG'
        )
            THEN 'CNG'

        -- Others
        WHEN fuel_type IN (
            'FUEL CELL HYDROGEN',
            'SOLAR',
            'METHANOL',
            'NOT APPLICABLE'
        )
            THEN 'OTHERS'

        ELSE NULL
    END;
""")

In [31]:
# Check all unique fuel types to find the correct label for EVs
con.sql("""
SELECT
    SUM(quantity) AS ev_2w_delhi
FROM final_data
WHERE fuel_group = 'EV'
  AND vehicle_category = 'TWO WHEELER(NT)'
  AND state_name = 'DELHI';

""").show()

┌─────────────┐
│ ev_2w_delhi │
│   int128    │
├─────────────┤
│      149570 │
└─────────────┘

In [36]:
con.sql("""
    SELECT DISTINCT maker_name
    FROM final_data
    ORDER BY maker_name
""").show(max_rows=200)

┌────────────────────────────────────────────────────┐
│                     maker_name                     │
│                      varchar                       │
├────────────────────────────────────────────────────┤
│ 3EV INDUSTRIES PVT LTD                             │
│ 3GB TECHNOLOGY PVT LTD                             │
│ 3S INDUSTRIES PRIVATE LIMITED                      │
│ A B EXCAVATORS & EARTHMOVER LTD                    │
│ A B EXCAVATORS & EARTHMOVERS PVT LTD               │
│ A D AGRO WORKS                                     │
│ A K AUTTO ELECTRICAL                               │
│ A K GUPTA & CO.                                    │
│ A K S ENG AGRO INDUSTRIES                          │
│ A N ENTERPRISES                                    │
│ A P I MOTORS PVT LTD                               │
│ A R AGRO TECH                                      │
│ A-1 SUREJA INDUSTRIES                              │
│ A. A. TRAILOR                                      │
│ A.B. AGRO ENGINEERING WORKS                        │
│ A.B. AGRO ENGINEERING WORKS&ENTERPRISESAP11815428  │
│ A.J ENTERPRISES                                    │
│ A.K.AUTO ELECTRICAL                                │
│ A.R. MOTOR                                         │
│ A.S.R BODY WORKS                                   │
│ A.V.AUTOMOTIVES PVT LTD                            │
│ A1 HEAVY EQUIPMENTS DEVELOPER                      │
│ A3T INCORPORTED                                    │
│ AADHYA ENTERPRISES                                 │
│ AADITYA EMOTORS INDIA PVT LTD                      │
│ AADITYA GARBAGE PRODUCTS PVT LTD                   │
│ AAHANA COMMERCE PVT LTD                            │
│ AAKK AUTO PVT LTD                                  │
│ AARGEE ELECTRIC                                    │
│ AARON INDUSTRIES                                   │
│ AARYA AUTOMOBILES                                  │
│ AASHI INDIA AUTOMOBILES PVT LTD                    │
│ AB N DHRUV AUTOCRAFT (INDIA) PVT LTD               │
│ ABZO MOTORS PVT LTD                                │
│ ACCPL INFRA FABTECH PVT LTD                        │
│ ACCRETION POWER AUTOS                              │
│ ACTION CONSTRUCTION EQUIPMENT LTD.                 │
│ ADAPT MOTORS PVT LTD                               │
│ ADARSH ROTAVATOR SALES                             │
│ ADICO ESCORTS AGRI EQUIPMENTS PVT. LTD.            │
│ ADIDEV TECHNOA PVT LTD                             │
│ ADISHAKTI TRACTORS                                 │
│ ADISHWAR AUTO RIDE INDIA PVT LTD                   │
│ ADISHWAR AUTO RIDE INDIA PVT.LTD                   │
│ ADITYA AGRO INDUSTRIES                             │
│ ADITYA ENTERPRISES                                 │
│ ADITYA SAI INDUSTRIES                              │
│ ADM TECHNOLOGIES PVT. LTD.                         │
│ ADRIS ELECTRIC PVT LTD                             │
│ AERODRIVE PVT LTD                                  │
│ AEROEAGLE AUTOMOBILES PVT LTD                      │
│ AFFLATUS ENGINEERING ENTERPRISES                   │
│ AFKON AUTOMOTIVES PVT LTD                          │
│ AFTEK MOTORS INDIA PVT LTD                         │
│ AFZAL ENGG WORKS,JUNAGARH                          │
│ AGARWAL TRAILER ZONE                               │
│ AGI AUTO INDUSTRIES                                │
│ AGNEE IRON WORKS,BARIPADA                          │
│ AGP ENGINEERING PRODUCTS                           │
│ AGRASEN ENGINEERING WORKS                          │
│ AGRAWAL RENEWABLE ENERGY PVT LTD                   │
│ AGRI KING                                          │
│ AGRI KING TRACTORS & EQUIPMENTS PVT LTD            │
│ AGRO INDUSTRIES                                    │
│ AGRO TRAILERS AP312870751                          │
│ AHITESHAM AGRO ENGINEERING                         │
│ AHMED MOTORS                                       │
│ AJANTA KRUSHI YANTRA                               │
│ AJAX ENGINEERING LTD                               │
│ AJAX FIORI ENGINEERING PVT LTD                     │
│ AJAY AGRO ENTERPRISES,SBP                          │
│ AJAY ENGG WORKS & EQUIP PLTD SAMBALPUR PARDHIAPALI │
│ AJAY ENGINEERING AND AGRICULTURAL EQUIPMENT CO.    │
│ AJAY ENTERPRISES                                   │
│ AJAY ENTERPRISES TRAILOR NABARANGPUR TOWN          │
│ AJAY MOTORS PRIVATE LIMITED                        │
│ AJIT ENGINEERING WORKS                             │
│ AJS MOTORCYCLES LTD                                │
│ AKAL AGRO INDUSTRY                                 │
│ AKASH AGRO INDUSTRIES                              │
│ AKASH EQUIPMENTS & MACHINERIES (P) LTD.            │
│ AKASH KRISHI YANTRA                                │
│ AKASH TRAILOR                                      │
│ AKG INTERNATIONAL                                  │
│ AKMAAN MULTI MECH MACHINES                         │
│ AKSHAR AGRI TECH                                   │
│ AKSHAR AGRO LNDUSTRIES                             │
│ AKSHAR STEEL                                       │
│ AKSHAY INDUSTRIES                                  │
│ AKSHAYA AGRI EQUIPMENT & SERVICES PVT LTD          │
│ AL-KHADEER ENGINEERING WORKS, KURNOOL AP117791028  │
│ ALBEDO VISION PVT LTD                              │
│ ALIED E MOBILITY PVT LTD                           │
│ ALL TERRAIN CRANE                                  │
│ ALLENTTI MOTORS PVT LTD                            │
│ ALLFINE INDUSTRIES PVT LTD                         │
│ ALPHA SERVICES                                     │
│ ALTIER ELECTRIC VEHICLES PVT LTD                   │
│ ALTIGREEN PROPULSION LABS PVT LTD                  │
│ ALTIUS EV TECH PVT LTD                             │
│           ·                                        │
│           ·                                        │
│           ·                                        │
│ WUXI MDKA NEW ENERGY (IMPORTER: HESTUR ENERGY)     │
│ WUXI NOOMA (IMPORTER: KKL HITECH EV)               │
│ WUXI NOOMA (IMPORTER: SMARTNK  ELECTRIC VEHICLE)   │
│ WUXI SAIGE (IMPORTER: CITIZEN CARE)                │
│ WUXI SAIGE (IMPORTER: DM GREEN ENERGY)             │
│ WUXI SAIGE (IMPORTER: E-VISHWA ELECTOBIKE)         │
│ WUXI SAIGE (IMPORTER: ELECTRO-TECH)                │
│ WUXI SAIGE (IMPORTER: KKL HITECH EV)               │
│ WUXI SAIGE (IMPORTER: NGAGE IMPEX)                 │
│ WUXI SAIGE (IMPORTER: WARIVO MOTOR)                │
│ WUXI SAIGE (IMPORTER: ZELIO AUTO PVT.LTD.)         │
│ WUXI SAIGE ELECTRIC (IMPORTER: DELTA AUTOCORP LLP) │
│ WUXI SAIGE ELECTRIC (IMPORTER: GLORIOUS DIGITAL)   │
│ WUXI SHENGBAO (IMPORTER:ELECTRIC ONE ENERGY)       │
│ WUXI SHENGBAO (IMPORTER:SHEMA E-VEHICLE)           │
│ WUXI TENGHUI (IMPORTER: BOHRE ELECTRIC)            │
│ WUXI TENGHUI (IMPORTER: CAL-ON INDUSTRIES)         │
│ WUXI TENGHUI (IMPORTER: FEZORA INDIA)              │
│ WUXI TENGHUI (IMPORTER: FLYCON MOTORS)             │
│ WUXI TENGHUI (IMPORTER: FRANKLIN EV INDIA)         │
│ WUXI TENGHUI (IMPORTER: HOP ELECTRIC MOBILITY)     │
│ WUXI TENGHUI (IMPORTER: JAIDKA POWER)              │
│ WUXI TENGHUI (IMPORTER: JOZHI SERVICES)            │
│ WUXI TENGHUI (IMPORTER: NXTMOBILITY ENERGY)        │
│ WUXI TENGHUI (IMPORTER: RADHA MOBILITIES LLP)      │
│ WUXI TENGHUI (IMPORTER: REMARK ELECTRIC)           │
│ WUXI TENGHUI (IMPORTER: SEEKA E MOTORS)            │
│ WUXI TENGHUI (IMPORTER: SUSHAMA MOTORS)            │
│ WUXI TENGHUI INTERNATIONAL (IMPORTER: FEZORA)      │
│ WUXI TENGHUI INTERNATIONAL (IMPORTER: FRANKLIN EV) │
│ WUXI TOURWE (IMPORTER: GOREEN E-MOBILITY)          │
│ WUXI YIZHILING (IMPORTER: BMR EV INDUSTRIES)       │
│ WUXI YIZHILING (IMPORTER: HOMFEEL VEGH)            │
│ XCMG CONSTRUCTION MACHINERY CO. LTD.               │
│ XIDAA MOTO PVT LTD                                 │
│ XPLORE AUTOMOTIVE PVT LTD                          │
│ XUZHOU CONSTRUCTION MACHINERY GROUP CO. LTD, CHINA │
│ XUZHOU CONSTRUCTION MACHINERY MANUFACTURING (IND)  │
│ XXPLORE AUTOMATIVE PVT LTD                         │
│ XXPLORE AUTOMOTIVE PVT. LIMITED                    │
│ XYZ1                                               │
│ XYZ2                                               │
│ YAARI AUTOMOBILES PVT LTD                          │
│ YADEA TECHNOLOGY (IMPORTER: YULU BIKES)            │
│ YAGYAPRIYAA CONSTRUCTION EQUIPMENT INDIA PVT LTD   │
│ YANGGUANG LINGMU (IMPORTER: DAWNGATE BUSINESS)     │
│ YANGGUANG LINGMU (IMPORTER: DURGA FILTERS)         │
│ YANGGUANG LINGMU (IMPORTER: ECOINDIA)              │
│ YANGGUANG LINGMU (IMPORTER: FLYCON MOTORS)         │
│ YANGGUANG LINGMU (IMPORTER: REMARK ELECTRIC)       │
│ YANGGUANG LINGMU (IMPORTER: XWLS ELECTRIC)         │
│ YANMAR CONST EQUIP CO                              │
│ YASH AGRO ENGINEERING WORKS                        │
│ YC ELECTRIC VEHICLE                                │
│ YC ELECTRIC VEHICLE PVT LTD                        │
│ YESH TRAILER                                       │
│ YEZDI MOTORS LTD                                   │
│ YOUYAKU ELECTRIC (IMPORTER: HOUSTAN INNOVATION)    │
│ YOUYAKU ELECTRIC (IMPORTER: POWORO PVT LTD)        │
│ YOUYAKU ELECTRIC (IMPORTER: SASDAL ENTERPRISES)    │
│ YOUYAKU ELECTRIC (IMPORTER: SHEMA E-VEHICLE)       │
│ YOUYAKU ELECTRIC (IMPORTER: SMOBILITY EV)          │
│ YOUYAKU ELECTRIC (IMPORTER: TES ELECTRIC)          │
│ YOUYAKU ELECTRIC (IMPORTER: TVISI ELECTRIC)        │
│ YOUYAKU ELECTRIC (IMPORTER:IME VEHICLES PVT LTD)   │
│ YOUYAKU ELECTRIC (IMPORTER:KRISHIKA EV INDIA)      │
│ YOUYAKU ELECTRIC (IMPORTER:NEWTRON ELECTRIC)       │
│ YOUYAKU ELECTRIC (IMPORTER:ONZO EV)                │
│ YOUYAKU ELECTRIC (IMPORTER:RIVALDO ELECTRIC)       │
│ YOUYAKU ELECTRIC TECHNOLOGY (IMPORTER:JHEV MOTORS) │
│ YUVRAJ AGRICULTURE WORKS                           │
│ YUVRAJ INTERNATIONAL                               │
│ ZAKWILL ELECTRIC VEHICLES PVT LTD                  │
│ ZAP (HK) (IMPORTER: IZANAU ELECTRIC)               │
│ ZAP (IMPORTER:ELLYSIUM AUTOMOTIVES PVT LTD)        │
│ ZBEE INDIA PVT LTD                                 │
│ ZELIO E-MOBILITY LTD                               │
│ ZENIAK INNOVATION INDIA LTD                        │
│ ZENMO PRIVATE LIMITED                              │
│ ZENTHIUM EV PVT LTD                                │
│ ZEOPLUS AXIS INDIA PVT. LTD.                       │
│ ZERO 21 RENEWABLE ENERGY SOLUTIONS PVT LTD         │
│ ZESAR MOTORS PVT LTD                               │
│ ZHEJIANG CFMOTO (IMPORTER: ADISHWAR AUTO)          │
│ ZHEJIANG CHANGLING (IMPORTER: ADISHWAR AUTO)       │
│ ZHEJIANG GEELY AUTOMOBILE COMPANY LTD              │
│ ZHEJIANG LANGXIANG (IMPORTER: ROUTE AUTO ELECTRIC) │
│ ZHEJIANG LUYUAN (IMPORTER: DYNAM EV TECH)          │
│ ZHEJIANG MORNI (IMPORTER: ADISHWAR AUTO)           │
│ ZHEJIANG QIANJIANG (IMPORTER: ADISHWAR AUTO)       │
│ ZHEJIANG TIANBEN (IMPORTER: SLSR ELECTRO)          │
│ ZHEJIANG TIANYING  (IMPORTER: NEWTRON ELECTRIC)    │
│ ZHEJIANG ZUBOO (IMPORTER: KLCS MOTORS PVT LTD)     │
│ ZHONGHUALONG (IMPORTER: POWORO PVT LTD)            │
│ ZHONGXING (IMPORTER:GREENO AUTOMOBILE)             │
│ ZOHAN TRADERS AND BIG METRO                        │
│ ZOOM MOTORS PVT LTD                                │
│ ZOOMLION INDIA PVT LTD                             │
│ ZUBEDA TROLLY REPAIRING WORKS                      │
│ ZUPERIA AUTO PVT LTD                               │
├────────────────────────────────────────────────────┤
│               2851 rows (200 shown)                │
└────────────────────────────────────────────────────┘

In [37]:
important_columns = [
    "state_name",
    "vehicle_category",
    "vehicle_class",
    "fuel_type",
    "fuel_group",
    "maker_name",
    "pollution_norm"
]
import os

folder_path = "C:\\Users\\parvs\\OneDrive\\Documents\\EV_THESIS\\reference_unique_values"

os.makedirs(folder_path, exist_ok=True)
for col in important_columns:
    df_unique = con.sql(f"""
        SELECT DISTINCT {col}
        FROM final_data
        WHERE {col} IS NOT NULL
        ORDER BY {col}
    """).df()

    file_path = os.path.join(folder_path, f"{col}_unique_values.csv")
    df_unique.to_csv(file_path, index=False)

    print(f"Saved {len(df_unique)} unique values for {col}")

Saved 35 unique values for state_name
Saved 17 unique values for vehicle_category
Saved 76 unique values for vehicle_class
Saved 28 unique values for fuel_type
Saved 6 unique values for fuel_group
Saved 2851 unique values for maker_name
Saved 27 unique values for pollution_norm